@import '../../../sass/main.scss';
@import '../../../index.scss';


select {
    // width: 70%;
    border: none;
    padding: 0.2rem;
    color: $colorTextOrange;
    background-color: $colorAppCream;
}

.dropdown{
    display: flex;
    flex-direction: column;
}

label {
    color: #0B0633;
}

@media only screen and (max-width: 1024px){
    .dropdown{
        flex-direction: row;
        justify-content: space-between;
        label{
            width: 40%;
        }
        select{
            width: 40%;
        }
    }
    
}